<!DOCTYPE html>
<html>

<head>
    <title>Главная</title>
    <link rel="stylesheet" href="/static/styles/index.css">
    <link rel="stylesheet" href="/static/styles/card.css">
    <link rel="stylesheet" href="/static/styles/home.css">
</head>

<body>
    <header>
        <div class="layout">
            <a href="/" class="header-link">CAVI калькулятор</a>
        </div>
    </header>
    <main>
        <div class="layout">
            <form action="/" method="GET">
                <input class="search-input" type="text" name="caviGroupTitle" placeholder="Поиск по наименованию"
                    value="{{ .caviGroupTitle }}">
            </form>
            <div class="cards">
                {{ range .caviGroups }}
                <div class="card">
                    <div class="content">
                        <img src="{{ .ImageURL }}" alt="{{ .Name }}" onerror="this.onerror=null; this.src='{{ $.defaultImage }}';">
                        <div class="details">
                            <div class="title">{{ .Name }}</div>
                            <div class="text">{{ .Description }}</div>
                        </div>
                    </div>
                    <div class="card-actions">
                        <a href="/cavi-group/{{ .ID }}"><button>Подробнее</button></a>
                        <form action="/add-group" method="POST">
                            <input type="hidden" name="group_id" value="{{ .ID }}">
                            {{ if index $.groupsInCart .ID }}
                            <button type="submit" class="btn-add-service" disabled>Добавлено</button>
                            {{ else }}
                            <button type="submit" class="btn-add-service">Добавить</button>
                            {{ end }}
                        </form>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>

        {{ if gt .cartItemsCount 0 }}
        {{ if gt .calculationID 0 }}
        <a href="/calculations/{{ .calculationID }}" class="request-link">
        {{ else }}
        <a href="/cavi-calculation" class="request-link">
        {{ end }}
            <div class="request-link-content">
                <img src="/static/img/request-link-icon.svg" alt="Расчёт" class="request-link-icon">
                <div class="request-link-number">{{ .cartItemsCount }}</div>
            </div>
        </a>
        {{ else }}
        <div class="request-link request-link-disabled">
            <div class="request-link-content">
                <img src="/static/img/request-link-icon.svg" alt="Расчёт" class="request-link-icon">
                <div class="request-link-number">0</div>
            </div>
        </div>
        {{ end }}
    </main>
</body>

</html>